
@{
    ViewData["Title"] = "Index";
}

<h1>Candidatos - Escolha uma opção</h1>

<ul>
    <li>
        <a asp-action="ListarCandidatos" asp-controller="Candidato">Lista de Candidatos</a>
    </li>
</ul>
