
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Cargos. Escolha uma opção:</h1>

<ul>
    <li>
        <a asp-controller="Cargos" asp-action="AdicionarCargo">Cadastro de Cargos</a>
    </li>
    <li>
        <a asp-controller="Cargos" asp-action="ListarCargos">Lista de Cargos</a>
    </li>
    <li>
        <a asp-controller="Cargos" asp-action="ListarCargosDTO">Lista de Cargos (DTO)</a>
    </li>
</ul>

