@model ProjetoMyRh.AppWeb.Models.Entities.Area

@{
    ViewData["Title"] = "AlterarArea";
}

<h1>Alteração na descrição da área</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AlterarArea">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                
            <input type="hidden" asp-for="Id"  />
                
            
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <input type="submit" value="Alterar Área" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListarAreas">Voltar para a lista de áreas</a>
</div>

